<loading/>

<div class="edit-course-form" [formGroup]="form" >

  <h3>{{data.title}}</h3>

  <div class="form-control">
    <label>Título do Curso:</label>
    <input placeholder="Informe o título do curso" formControlName="title">
  </div>

  <div class="form-control">
    <label>Descrição do Curso:</label>
    <textarea placeholder="Informe a descrição do curso" formControlName="longDescription">
    </textarea>
  </div>

  <div class="form-control">
    <label>Categoria:</label>
    <select formControlName="category">
      <option value="BEGINNER">Iniciante</option>
      <option value="INTERMEDIATE">Intermediário</option>
      <option value="ADVANCED">Avançado</option>
    </select>
  </div>

  <div class="form-control">
    <label>Imagem do Curso:</label>
    <input placeholder="Informe a imagem do curso" formControlName="iconUrl">
  </div>

  <div class="form-actions">

    <button class="btn" (click)="onSave()">
      Gravar
    </button>

    <button class="btn" (click)="onClose()">
      Cancelar
    </button>

  </div>

</div>
